body {
    background:
        linear-gradient(to right, rgba(181, 155, 205, 0.7), rgba(181, 155, 205, 0.1)),
        url("../nature-6133658_1280.jpg") center center / cover no-repeat fixed;
}



.container {
    height: 100vh;
}

.docker {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
    padding-block: 3.125rem;
    background-color: aliceblue;
    border-radius: 1.25rem;
    font-family: "Raleway", sans-serif;
}

h1 {
    font-family: "Ancizar Serif", serif;
    font-size: 2.5rem;
    font-weight: 600;
    padding-inline: .625rem;
    margin-bottom: 3.125rem;
    position: relative;
}

h1::before {
    content: '';
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 7.5rem;
    height: .125rem;
    background-color: rgb(148, 73, 219);
}

.quote-icon-left {
    display: inline-block;
    top: -10px;
    position: relative;
    color: #44444492;
}

.quote-icon-right {
    display: inline-block;
    position: relative;
    top: 10px;
    color: #44444492;
}

.qoute-text {
    font-size: 1.25rem;
    font-weight: 400;
    font-style: italic;
    padding-inline: .625rem;
}

.qoute {
    padding-inline: 1.125rem;
    margin-inline: auto;
    margin-bottom: 1.875rem;
}


@media (min-width: 768px) {
    .qoute {
        max-width: 80%;
    }
}

.qoute-author {
    text-align: end;
    max-width: 85%;
    margin-inline: auto;
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
    font-weight: 700;
}

button {
    background-color: blueviolet;
    padding: .625rem 2.1875rem;
    border: none;
    border-radius: 1.5625rem;
    color: white;
    transition: all 0.3s ease-in-out;
}

button:hover {
    opacity: .8;
}